<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card mb-3 mt-4">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button [routerLink]="['/clientes/form']" class="btn btn-rounded btn-primary" type="button">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros
    </div>
    <table *ngIf="clientes?.length>0" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha</th>
        <th>Email</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="abrirModal(cliente)" *ngIf="cliente?.foto"
                                                          alt="{{cliente.foto}}"
                                                          class="img-thumbnail rounded" src="http://localhost:8080/api/uploads/img/{{cliente.foto}}"
                                                          style="width: 80px; cursor: pointer">
          <img (click)="abrirModal(cliente)" *ngIf="!cliente?.foto" alt="sin foto"
               class="img-thumbnail rounded" src="http://localhost:8080/images/hasbu.png"
               style="width: 80px; cursor: pointer">
        </td>
        <td>{{cliente.nombre | uppercase}}</td>
        <td>{{cliente.apellido | uppercase}}</td>
        <td>{{cliente.createAt | date:"EEEE dd MMMM yyyy"}}</td>
        <td>{{cliente.email }}</td>
        <td>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/facturas/form', cliente.id]" class="btn btn-success btn-sm"
                  type="button">Crear Factura
          </button>
        </td>
        <td>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary"
                  name="editar" type="button">Editar
          </button>
        </td>
        <td>
          <button (click)="delete(cliente)" *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-danger" name="eliminar"
                  type="button">Eliminar
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
